/* this is a comment in CSS */

/*
https://www.educative.io/answers/class-and-id-selectors-in-css
*/

/*
Selectors: class and id
class   .
id      #
*/

.anh-photo{
    width: 300px;
    /* height: 200px; */
    /* scale: 500px; */
}
#greetings{
    color:blueviolet;
}
.love-box{
    padding: 300px;
}